/* TODO: Add ::before for edit and delete buttons with respective icons */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.contactCard, #createContact {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 2px solid rgba(100, 100, 100, 1);
  border-radius: 4px;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.3);
}

#app {
  position: relative;
  /* overflow: hidden; */
}

#createContact {
  background-color: white;
  padding: 25px;
  margin: 25px;
  width: 75%;
  max-width: 500px;
  display: none;
  position: absolute;
  bottom: -250px;
}

.contactCard {
  width: 150px;
}

h2,h3 {
  margin-top: 10px;
}

h4, p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.formGroup input {
  display: block;
  width: 100%;
}

label {
  font-weight: bold;
}

.formBtn {
  margin-top: 10px;
}

.formBtn + button {
  margin-left: 10px;
}